<div class="profDept">Computer Engineering</div>
<div class="profRatings">265</div>
<div class="profAvg">3.5</div>     
<div class="profEasy">2.9</div>
<div class="profDept">Chemistry</div>
<div class="profRatings">165</div>
<div class="profAvg">4.8</div>     
<div class="profEasy">2.9</div>
<div class="profDept">Marketing</div>
<div class="profRatings">155</div>
<div class="profAvg">2.2</div>     
<div class="profEasy">1.3</div>
<div class="profDept">Mathematics</div>
<div class="profRatings">148</div>
<div class="profAvg">2.0</div>     
<div class="profEasy">1.5</div>
<div class="profDept">Business</div>
<div class="profRatings">141</div>
<div class="profAvg">2.8</div>     
<div class="profEasy">2.6</div>
<div class="profDept">Accounting</div>
<div class="profRatings">140</div>
<div class="profAvg">3.5</div>     
<div class="profEasy">2.1</div>
<div class="profDept">Accounting</div>
<div class="profRatings">137</div>
<div class="profAvg">2.9</div>     
<div class="profEasy">2.1</div>
<div class="profDept">Business</div>
<div class="profRatings">134</div>
<div class="profAvg">2.9</div>     
<div class="profEasy">2.3</div>
<div class="profDept">Marketing</div>
<div class="profRatings">132</div>
<div class="profAvg">2.4</div>     
<div class="profEasy">3.1</div>
<div class="profDept">Business</div>
<div class="profRatings">132</div>
<div class="profAvg">1.9</div>     
<div class="profEasy">2.1</div>
<div class="profDept">Business</div>
<div class="profRatings">130</div>
<div class="profAvg">4.4</div>     
<div class="profEasy">3.4</div>
<div class="profDept">Recreation</div>
<div class="profRatings">127</div>
<div class="profAvg">4.5</div>     
<div class="profEasy">3.7</div>
<div class="profDept">Business</div>
<div class="profRatings">123</div>
<div class="profAvg">3.6</div>     
<div class="profEasy">3.1</div>
            <div class="profDept">Biology</div>
<div class="profRatings">123</div>
<div class="profAvg">4.4</div>     
<div class="profEasy">4.0</div>
            <div class="profDept">Accounting & Finance</div>
<div class="profRatings">122</div>
<div class="profAvg">2.8</div>     
<div class="profEasy">2.2</div>
            <div class="profDept">Physics</div>
<div class="profRatings">121</div>
<div class="profAvg">2.3</div>     
<div class="profEasy">2.7</div>
            <div class="profDept">Business</div>
<div class="profRatings">120</div>
<div class="profAvg">2.9</div>     
<div class="profEasy">2.2</div>
            <div class="profDept">English</div>
<div class="profRatings">119</div>
<div class="profAvg">3.0</div>     
<div class="profEasy">2.0</div>
            <div class="profDept">Biology</div>
<div class="profRatings">118</div>
<div class="profAvg">4.6</div>     
<div class="profEasy">3.8</div>
            <div class="profDept">Business</div>
<div class="profRatings">117</div>
<div class="profAvg">3.3</div>     
<div class="profEasy">3.8</div>
